@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3e6f5;
}
nav {
  background-color: #e3e6f5;
  color: #222;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;

  justify-content: center;
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  position: relative;
}

.box {
  border: 1.5px solid black;
  font-family: "Oswald", sans-serif;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.box:hover {
  background-color: rgb(242, 234, 250);
}

.info {
  font-size: 22px;
}

.gameInfo {
  padding: 0 34px;
}

.gameInfo h1 {
  font-size: 2.5rem;
}

.imgbox img {
  width: 0;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: #e3e6f5;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  border: 0;
}
.cent {
  line-height: 50px;
  margin-top: 22px;
  text-align: center;
}

.line {
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #333;
}

#loader {
  border: 16px solid #e3e6f5;
  border-top: 16px solid #ffc0cb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }
  .gameInfo h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
  .imgbox {
    display: block;
    margin-left: auto;
    margin-right: 43%;
    width: 50%;
  }
  #loader {
    margin-left: 39%;
  }
}
@import url("https://fonts.googleapis.com/css?family=Nova+Mono&display=swap");
